/* CSS for website */
h3 {
  padding-top: 60px;
}
table thead tr, table thead tr th {
  background-color: orange; 
  color: white; 
  font-weight: bold;
}
img {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}
.markdown-section img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
